node_modules/
dist/
.astro/
.env
.env.*
!.env.example
pSEO.db*
raw_data/
.wrangler/
.system_generated/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.DS_Store
Thumbs.db
